<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeamDrop</title>
    <link rel="stylesheet" href="../CSS/stylesProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    {{>header}}
    <div class="main-wrapper">
        <div class="container">
            <h1 style="color:white; text-align:center">User Profile Details</h1>
            <section class="profile-section">
                <div class="profile-card">
                    <h2>Profile Details</h2>
                    <div class="profile-details">
                        <div>
                            <p><strong>Full Name</strong></p>
                            <p>{{fullname}}</p>
                        </div>
                        <div>
                            <p><strong>Email</strong></p>
                            <p>{{email}}</p>
                        </div>
                    </div>
                </div>

                <div class="profile-card">
                    <h2>Account Settings</h2>
                    <div class="account-settings">
                        <div>
                            <p><strong>Password</strong></p>
                            <p>********</p>
                        </div>
                    </div>
                    <button class="save-btn">Change Password</button>
                </div>
            </section>
        </div>
    </div>
    {{>footer}}
</body>
</html>
